{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Project - Scale AI Clone{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">
                    <i class="fas fa-plus me-2"></i>Create New Project
                </h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.project_type|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.description|as_crispy_field }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.status|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.visibility|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'projects:project_list' %}" class="btn btn-secondary me-md-2">
                            <i class="fas fa-times me-2"></i>Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i>Create Project
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
